<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../public/css/mystyle.css">

	</head>
	<body>
		<div class="topbar">
			<a href="questions">Questions</a>
		</div>

		<div class="canvas">
			
			<div id="full_name">fname</div>	
			<div id="address">address</div>
			<div id="objective"></div>
			<div id="highlights"></div>
			<div id="tskills"></div>
			<div id="edu"></div>
			<div id="proj"></div>
			<div id="proja"></div>
			<div id="exp"></div>
			<div id="achiev"></div>
			<div id="volun"></div>
			<div id="hobby"></div>
			
		</div><!-- canvas -->

		<script src="../resume.js"></script>

		Updated Jan 6, 2014
	</body>
</html>