<!DOCTYPE html>
<html lang=en>

  <head>
    <meta http-equiv="content-type" content="text-html" charset="utf-8">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/main.css">

    <title>
      IY - {% block title %}{{ title }}{% endblock %}
    </title>
    {% block css %}{% endblock %}
  </head>
  <body>
    <div id="aa">
    
      {% block header %}{% endblock %}

      <span class="centered"><h1>Igor Entaltsev</h1></span>

      {% block contact %}{% endblock %}

      <h2>OBJECTIVE</h2>
      {% block objective %}{% endblock %}

      <h2>HIGHLIGHTS OF QUALIFICATIONS</h2>
      {% block highlights %}{% endblock %}

      <h2>TECHNICAL SKILLS</h2>
      {% block skills %}{% endblock %}

      <h2>EDUCATION</h2>
      {% block education %}{% endblock %}

      <h2>ACADEMIC PROJECTS</h2>
      {% block academic_projects %}{% endblock %}

      <h2>EXPERIENCE</h2>
      {% block experience %}{% endblock %}

      <h2>VOLUNTEER EXPERIENCE</h2>
      {% block volunteer_experience %}{% endblock %}

      <h2>INTERESTS AND ACTIVITIES</h2>
      {% block interests %}{% endblock %}

      {% block news %}{% endblock %}

      {% block footer %}{% endblock %}
      <hr>
      Made by igoryen in Node.js | Updated: <span id="updated"></span>
      <script>document.getElementById("updated").innerHTML=document.lastModified;
      </script>
    </div>
  </body>
</html>
